# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
venv/
.venv/

# VS Code
.vscode/

# Docker
*.log

# System
.DS_Store
Thumbs.db

# Kubernetes secrets
*-secret.yaml
secret.yaml

# Reports
*.docx
*.pdf

# large offline resource package
offline-resources/*
!offline-resources/README.md

# avoid uploading large archives or images
*.tar
*.tar.gz
*.zip
*.rar
*.7z
*.img
*.iso

# Windows system files
desktop.ini
Thumbs.db
